body,
pre {
    color: #555;
    font-family: Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.7;
}

a {
    color: #7e57c2;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
}

.container {
    width: 90%;
    margin: auto;
}

@media screen and (orientation: landscape) {
    .container {
        width: 70%;
    }
}

@media (min-width: 1500px) and (orientation: landscape) {
    .container {
        width: 50%;
    }
}

.text-in {
    margin-bottom: 0;
}

.checkboxs {
    margin-top: 0;
}

.input-field.hidden {
    display: none;
}


#busuanzi_container_site_pv {
    position: absolute;
    right: 5px;
}
